* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

.header {
    position: absolute;
    top: 0;
    font-family: consolas, sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 40px;
    width: 100%;
}

#game-board{
    background-color: #ccc;
    margin-top: 40px;
    width: 50%;
    height: 90%;;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.food{
    background-color:  hsl(50, 100%, 50%);
    border: .25vmin solid black;
}
.responsive-button {
    display: none;
}

@media( max-width: 700px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
    }
    #game-board{
        width: 90%;
        height: 50%;
    }
    .responsive-button{
        display: block;
        width: 70%;
        height: 30%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .responsive-button button{
        background: #55a;
        width: 100px;
        height: 65px;
    }
    .responsive-button button i{
        color: white;
    }
    .left-right button{
        margin: 5px 10px;
    }
}